
.form-group {
    margin-bottom: 15px;
}
.fr {
    float: right;
}
.fr {
    float: right;
}
* {
    box-sizing: border-box;
}
// div {
//     display: block;
// }
// body {
//     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
//     font-size: 14px !important;
//     line-height: 1.42857143 !important;
//     color: #333333 !important;
//     background-color: #fff !important;
// }
.busname {
    display: none !important;
  }
  .checkboxxs{
    padding: 20px;
    border-radius: 8px;
    // border: 5px solid rgb(15,164,151);
    // border: 5px solid#33ccff;
    box-shadow: 2px 2px 8px #dcdcdc;
    background-color: #fff;
  }
  .scrl{
    overflow-x: scroll;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #dcdcdc;
    background-color: #fff;
  }

  // width: 100%;
  // overflow: hidden;
  // border-radius: 5px;
  // box-shadow: 2px 2px 8px #dcdcdc;
  // background-color: #fff;
  